<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"

        bootstrap="vendor/autoload.php"

        beStrictAboutTestsThatDoNotTestAnything="true"
        colors="true"
        stopOnFailure="true"
        verbose="true"
>
    <testsuites>
        <testsuite name="phpcodesniffer-composer-installer">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="testdox-text" target="php://stdout"/>
    </logging>
</phpunit>
